.navbar__button {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #ece3e3;
    padding: 5px;
    text-decoration: none;
    background: #d84974;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: #8b5dd7;
    }
  }