$background: linear-gradient(
    180deg,
    #040a97 1.57%,
    #d84974 2.24%,
    #8b5dd7 5.32%,
    rgba(0, 0, 0, 0) 185.16%
  ),
  linear-gradient(90deg, #ffffff 59.35%, rgba(255, 255, 255, 0) 95.35%);
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 80px;
  width: 100%;
  background: $background;
  .navbar__title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #ece3e3;
  }
  .navbar__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    .navbar__link {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #ece3e3;
      padding: 15px;
      text-decoration: none;
    }
    
    
  }
}
